<div class="container mt-3">
    <h2 class="text-primary">Selected User</h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" >
        <!--<div class="scrollingDown">
            <div class="media border p-3" *ngFor="let user of userDetails">
                <img src="{{ '../../assets/' + user.avatar }}" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                    <h4>&lt;!&ndash;{{ user.first_name }} &ndash;&gt;<small><i>{{ user.full_name }}</i></small></h4>
                    <input type="hidden" name="userId" #useId="ngModel" [(ngModel)]="user" value="user.id">
                </div>
            </div>
        </div>
        <br>-->

        <div class="scrollingDown list-group" id="hideForm">
            <div class="form-check" *ngFor="let user of userDetails">
                <input class="form-check-input" type="checkbox" value="{{ user.id }}" name="userId"  id="{{ user.id }}" checked (click)="onSelectRemove($event, user.id)">
                <label class="form-check-label list-group-item" for="{{ user.id }}">
                    <img src="{{ '../../assets/' + user.avatar }}" class="mr-3 mt-3 rounded-circle" width="60px">
                    {{ user.full_name }} {{ user.id }} {{ selectUser }}
                </label>
            </div>
        </div>

        <input type="submit" value="back" class="btn btn-outline-success float-right">
    </form>
</div>