.scrollingDown{
    height: 500px;
    overflow-y: scroll;
}
.imageDrop{
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding-left: 80px;
    overflow: hidden;
    padding-top: 25px;

    /* For Size Increase Of Dropdown*/
    height: 50px;
    margin-right: auto;
}
label{
    border: 1px solid darkgray;
}
input[type="checkbox"]:checked + label{
    border: 2px solid coral;
}