<div class="container mt-3">
    <h2 class="text-primary">Select User
        <button type="button" class="btn btn-sm btn-outline-primary float-right" data-toggle="collapse" data-target="#hideForm" aria-label="Close" aria-expanded="false" aria-controls="hideForm">
            X
        </button>
    </h2>
    <div class="input-group mb-3">
        <input type="text" [(ngModel)]="searchText" name="search" class="form-control" placeholder="Search.....">
    </div>
    <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm.value)" id="userFormHide">
        <!--<div id="hideForm">
            <div *ngIf="userForm.submitted && userId.invalid" class="alert alert-danger">
                <div *ngIf="userId.errors.required"> Please Select Any User Information</div>
            </div>
            <select multiple="true" class="form-control custom-select scrollingDown" name="userId" #userId="ngModel" [(ngModel)]="selectUser" size="10" required>
                <option *ngFor="let user of userDetails | searchPipe: searchText" class="border border-secondary" [ngStyle]="{'background-image': 'url('+ '../../assets/' + user.avatar + ')'}" ngClass="imageDrop" value="{{ user.id }}" (click)="onSelect($event)">
                    &lt;!&ndash;{{ user.first_name }}&ndash;&gt; {{ user.full_name }}
                </option>
            </select>
        </div>-->

        <div class="scrollingDown list-group" id="hideForm">
            <div class="form-check" *ngFor="let user of userDetails | searchPipe: searchText">
                <input class="form-check-input" type="checkbox" value="{{ user.id }}" name="userId" id="{{ user.id }}" [checked]="user.checked" (click)="onSelect($event)">
                <label class="form-check-label list-group-item" for="{{ user.id }}">
                    <img src="{{ '../../assets/' + user.avatar }}" class="mr-3 mt-3 rounded-circle" width="60px">
                    {{ user.full_name }}
                </label>
            </div>
        </div>
        <input type="submit" value="Select" class="btn btn-lg btn-outline-success float-right mr-2" />
    </form>
    <button class="btn btn-lg btn-outline-danger float-left" (click)="onReset()">Cancel</button>
</div>